---
:enabled: true

:netbox_ipam:
  :netbox:
  # Parameters to edit:
    :url: 'http://172.16.13.33:8888'
    :user: 'admin'
    :password: 'admin'
    :token: '0123456789abcdef0123456789abcdef01234567'
