---
:enabled: true

:netbox_ipam:
  :netbox:
  #Parameters to edit:
    :url: 'http://NETBOX_URL/api/'
    :user: 'admin'
    :password: 'admin'
    :token: '0123456789abcdef0123456789abcdef01234567'
